@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
@import url("style/internet.css");
@import url("style/telefonia.css");
@import url("style/televisao.css");
@import url("style/inicio.css");
@import url("style/header.css");
:root {
  --rosa: #e5e4e5;
  --roxo-claro: #8a038c;
  --roxo-hover: #5c125ef5;
  --roxo: #5c2b8c;
  --laranja: #f26e22;
  --laranja-hover: #8b4015;
  --preto: #0d0d0d;
  --cor-primaria: #e9e9e9;
  --branco: #ffffff;
  --fonte-primaria: "Jost";
  --verde: #05a027;
}

body {
  color: var(--preto);
  font-family: var(--fonte-primaria);
}

.root {
  background-repeat: no-repeat;
  contain: content;
}

.secundaria {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
}

.container {
  height: 25vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

.logo {
  margin: 4em 12em;
  width: 12.5em;
}
.container__botao {
  background-color: var(--laranja);
  border-radius: 10px;
  padding: 1em;
  color: var(--branco);
  margin-right: 1em;
  text-decoration: none;
  font-weight: 700;
}
.tv,
.inicio,
.internet,
.telefone,
.combo {
  padding: 1em 3em;
}
.botoes {
  padding: 8em 1em;
  margin-top: 0.5em;
}

.tv:hover,
.inicio:hover,
.internet:hover,
.telefone:hover,
.combo:hover {
  background-color: var(--laranja-hover);
}
