/* telefonia */

.telefonia {
  display: grid;
  grid-template-columns: 40% 60%;
}

.homem-celular {
  position: absolute;
  width: 500px;
  padding: 4em 4em;
  margin: 0;
}

.texto_telefone {
  margin: 0em 10em 0em 0em;
  padding-top: 70px;
  font-weight: 700;
}

.titulo-telefone {
  font-size: 50px;
}

.paragrafo-telefone {
  font-size: 30px;
  padding-top: 14px;
}

.retangulog-internet {
  margin: 0em -2em;
  transform: scaleX(-1);
  height: 90%;
}
.retangulop-internet {
  margin: 3em 2em;
}

/*planos*/
.todos-cards {
  display: flex;
  flex-direction: row;
  width: 51em;
  gap: 5px;
}

.card {
  background: var(--laranja);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em;
  width: 17em;
  height: 22em;
}

.descricao__titulo {
  color: var(--branco);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-bottom: 16px;
}

.valor-telefone {
  padding-top: 12px;
  font-size: 20px;
  text-align: center;
  color: var(--branco);
}

.botao-assineja {
  background-color: var(--roxo-claro);
  border-radius: 10px;
  padding: 1em;
  color: var(--branco);
  text-decoration: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  text-transform: uppercase;
}
